<div class="flex justify-content-end h-full">
  <div class="flex align-items-center">
    <p-button class="button" (click)="active = true" icon="pi pi-cog">
    </p-button>
  </div>
  <p-sidebar [(visible)]="active" [baseZIndex]="1000" position="right">
    <ng-template pTemplate="header">
      <h1 class="font-normal">Settings</h1>
    </ng-template>
    <ng-template pTemplate="content">
      <form [formGroup]="form">
        <div class="container">
          <div class="wrapper">
            <div class="top">
              <div class="flex justify-content-between p-fluid">
                <label class="block font-medium text-center flex align-items-center"
                  >Start</label
                >
                <p-selectButton
                  [options]="brewOptions"
                  formControlName="startBrew"
                  optionLabel="label"
                  optionValue="value"
                  styleClass="p-button-lg"
                  [style]="{ width: '207px' }"
                ></p-selectButton>
              </div>
              <div class="flex justify-content-between mt-3">
                <label class="block font-medium text center flex align-items-center"
                  >Name</label
                >
                <input
                  pInputText
                  formControlName="name"
                  type="text"
                  [style]="{ width: '207px' }"
                />
              </div>
              <div class="flex justify-content-between mt-3">
                <label class="block font-medium text center flex align-items-center"
                  >Interval</label
                >
                <p-inputNumber
                  formControlName="interval"
                  [showButtons]="true"
                  [size]="15"
                  [min]="5"
                  [max]="1440"
                ></p-inputNumber>
              </div>
            </div>
            <div class="bottom">
              <div class="flex justify-content-around gap-3">
                <button
                  pButton
                  pRipple
                  type="submit"
                  label="Save"
                  icon="pi pi-save"
                  [disabled]="true"
                ></button>
                <button
                  pButton
                  pRipple
                  type="button"
                  label="Cancel"
                  icon="pi pi-times"
                  (click)="active = false;"
                  [disabled]="true"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center mb-3">
        <p-button label="Login" styleClass="p-button-link"></p-button>
      </div>
    </ng-template>
  </p-sidebar>
</div>
